* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
  }
  body {
   overflow-x: hidden;
  }
  html{
      font-size: 62.5%;
      @include respond(big-screen){
        font-size: 65%;
      }

      @include respond(tab-land) {
        font-size: 56.25%;
  }

      @include respond(tab-port){
        overflow-x: hidden;
        font-size: 50%;
      }
      @include respond(phone){
        font-size: 38%;
        overflow-x: hidden;
      }

   
    


  }

.u-center-text{
    text-align: center;
}