// grid
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:2rem;


// margins
$u-margin-big: 8rem;
$u-margin-medium: 5rem;
$u-margin-small: 2.5rem;

// colors
$color-primary-light:rgb(165, 99, 150);
$color-primary-dark:rgb(167, 64, 143);

$color-secondary-light:rgb(230, 215, 216);
$color-secondary-dark:rgba(80, 109, 109, 0.562);

$color-black:rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$color-text-light: rgb(202, 226, 222);

$color-text-dark: rgb(163, 223, 231);

$color-btn-hover: rgb(87, 241, 164);